$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?e83a4a4b610b841dee93ad9d7c8f2d4e") format("truetype"),
url("./flaticon.woff?e83a4a4b610b841dee93ad9d7c8f2d4e") format("woff"),
url("./flaticon.woff2?e83a4a4b610b841dee93ad9d7c8f2d4e") format("woff2"),
url("./flaticon.eot?e83a4a4b610b841dee93ad9d7c8f2d4e#iefix") format("embedded-opentype"),
url("./flaticon.svg?e83a4a4b610b841dee93ad9d7c8f2d4e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "llamada-de-telfono-inteligente": "\f101",
    "ordenador-portatil": "\f102",
    "consola": "\f103",
    "monitor": "\f104",
);

.flaticon-llamada-de-telfono-inteligente:before {
    content: map-get($flaticon-map, "llamada-de-telfono-inteligente");
}
.flaticon-ordenador-portatil:before {
    content: map-get($flaticon-map, "ordenador-portatil");
}
.flaticon-consola:before {
    content: map-get($flaticon-map, "consola");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
